<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.cube.lush.player.mobile"
>
	<application>
		<activity
			android:name="com.cube.lush.player.mobile.MainActivity"
			android:label="@string/title_activity_main"
			android:theme="@style/Mobile.AppTheme"
		/>
	</application>
</manifest>