<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.cube.lush.player"
>
	<uses-feature android:name="android.hardware.microphone" android:required="false" />
	<uses-feature android:name="android.hardware.touchscreen" android:required="false" />
	<uses-feature android:name="android.software.leanback" android:required="true" />

	<uses-permission android:name="android.permission.RECORD_AUDIO" />

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

	<application
		android:name=".MainApplication"
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:supportsRtl="true"
	>
		<!-- Mobile -->
		<activity android:name="com.cube.lush.player.mobile.MainActivity" android:theme="@style/Mobile.AppTheme">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<!-- TV -->
		<activity
			android:name="com.cube.lush.player.tv.browse.main.MainActivity"
			android:icon="@mipmap/ic_launcher"
			android:label="@string/app_name"
			android:logo="@mipmap/ic_launcher"
			android:theme="@style/TV.AppTheme"
		>
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LEANBACK_LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:name="com.cube.lush.player.tv.search.SearchActivity" android:theme="@style/TV.AppTheme" />
		<activity android:name="com.cube.lush.player.tv.playback.PlaybackActivity" android:theme="@style/TV.AppTheme" />
		<activity android:name="com.cube.lush.player.tv.details.MediaDetailsActivity" android:theme="@style/TV.AppTheme" />
		<activity android:name="com.cube.lush.player.tv.browse.channel.ChannelActivity" android:theme="@style/TV.AppTheme" />
	</application>
</manifest>